@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

:root {
    --cor0: #34F7DE;
    --cor1: #2CBCD4;
    --cor2: #3DA5EA;
    --cor3: #2C65D4;
    --cor4: #1628F5;
    --cor5: #1523bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body {
    background-image: url(Imagens/wood-2045379_960_720.jpg);
    background-size: cover;
}

header {
    background-image: linear-gradient(to bottom, rgb(27, 16, 9), rgba(12, 1, 1, 0.103));
    min-height: 100px;
    text-align: center;
    padding-bottom: 30px;
}

header > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 6px 3px 2px rgb(0, 0, 0);
    font-variant: small-caps;
    font-size: 3.2em;
    padding-top: 40px;
    padding-bottom: 30px;
}

nav > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    border-radius: 10px;
    transition-duration: 0.4s;
    background-color: rgb(87, 73, 66);
    text-decoration: underline;
}

main {
    margin: auto;
    max-width: 690px;
    min-width: 350px;
    text-align: left;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
}

h2 {
    color: rgb(109, 88, 68);
    text-shadow: 2px 1px 1px black;
    font-variant: small-caps;
}

h3 {
    color: rgb(113, 116, 54);
    text-shadow: 2px 1px 1px black;
    font-variant: small-caps;
}

section {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    max-width: 690px;
    min-width: 350px;
    text-align: left;
    border-radius: 9px;
    font-size: 1.1em;
    box-shadow: 10px 0px 21px black;
}

#a {
    margin-top: 30px;
}

ul {
    border-radius: 10px;
    padding: 10px;
    background-color: #90d3df;
}